<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>

	<!--meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Husbandry Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//meta tags ends here-->

	<!--booststrap-->

	<!-- <link href="src/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"> -->
	<!--//booststrap end-->

	<!-- font-awesome icons -->
	<!-- <link href="src/css/font-awesome.css" rel="stylesheet"> -->
	<!-- //font-awesome icons -->
	<!--stylesheets-->
	<!-- <link href="src/css/style.css" rel='stylesheet' type='text/css' media="all"> -->
	<!--//stylesheets-->
	<!-- <link rel="stylesheet" href="src/css/lightbox.css"> -->
	<!--gallery-->
	
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    

	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">

</head>

<body>
	<div class="header-outs">
		<div class="w3-agile-logo">
			<div class=" head-wl">
				<div class="headder-w3">
					<h1><a href="index.html">Rice Plant Leaf Disease Detection</a></h1>
				</div>

				<!-- <div class="search-w3ls">
					<form action="#" method="post">
						<div class="input-group">
							<div class="search-up">
								<input type="search" class="form-control" name="search" id="search2" placeholder="Search" required="">
							</div>
							<span class="input-group-btn">
							<button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
							</span>
						</div>
					</form> 
				</div> -->

				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="top-nav">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">

					<!-- //header -->

					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						 aria-controls="navbar">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
                </button>
					</div>

					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav ">
							<li><a href="index.html " class="scroll">Home</a></li>
							<li><a href="#services" class="scroll">Diseases</a></li>
							<li><a href="#blog" class="scroll">Blog</a></li>
							<!-- <li><a href="#gallery" class="scroll">Gallery</a></li> -->
							<li><a href="#team" class="scroll">Team</a></li>
							<li><a href="#contact" class="scroll">Contact</a></li>
						</ul>
					</div>

				</div>
			</nav>
		</div>


		<!-- Slideshow 4 -->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider4">
					<li>
						<div class="slider-img">
							<div class="container">
								<div class="slider-info">
									<h4>We Detect Plant Leaf Diseases </h4>
									<p>We use googlenet Deep neural network to detect diseases in rice plant.</p>

								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="slider-img ">
							<div class="container">
								<div class="slider-info">
									<h4>Hispa </h4>
									<p>One of the common disease seen in rice plant.</p>

								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="slider-img">
							<div class="container">
								<div class="slider-info">
									<h4>BrownSpot</h4>
									<p>One of the common disease seen in rice plant.</p>

								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="text-center">
			<div class="text-center" style="text-align:center">
				<input class="form-control" type="file" 
					(change)="onChange($event)">
				<button (click)="onUpload()" 
					class="btn btn-success" >
					Upload
				</button>
			</div>
			
		  
			
		</div>
		  
		<!-- Shareable short link of  uoloaded file -->
		  
		<!--Flag variable is used here-->
		<div class="container" style="background: transparent; text-align: right;" *ngIf="loading">
			<!-- <img src="/assets/images/loader1.gif" style="  width: 30%; height: auto;"/> -->
			<img src="/assets/images/loader.gif" style="  width: 15%; height: auto;"/>
		</div>
		<div class="container" style="background: transparent; text-align: right;" *ngIf="loaded">
			<div class="w3layouts_more-buttn ser-buttn">
				<a href="#blog">{{ dis }}</a>
			</div>
		</div>
	</div>
	
	<!-- This is here just to demonstrate the callbacks -->
	<!-- <ul class="events">
      <li>Example 4 callback events</li>
    </ul>-->
	<!-- //banner -->
	<!--Services-->
	<div class="services" id="services">
		<div class="container">
			<h2 class="sub-title">Disease Categories</h2>

			<div class="banner-bottom-girds">
				<div class="col-md-6  col-sm-6 col-xs-6  its-banner-grid">
					<div class="white-shadow">

						<div class=" col-md-8 white-right">
							<h4>Hispa</h4>
							<p>The rice hispa is a defoliator during the vegetative stage of the rice plant causes serious damage.</p>
							<div class="w3layouts_more-buttn ser-buttn">
								<a href="https://en.wikipedia.org/wiki/Dicladispa_armigera">Read More</a>
							</div>

						</div>
						<div class="col-md-4 white-left">
							<span class="fa fa-truck banner-icon" aria-hidden="true"></span>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6  col-sm-6 col-xs-6  its-banner-grid">
					<div class="white-shadow">

						<div class=" col-md-8 white-right">
							<h4>BrownSpot</h4>
							<p>Brown spot is a fungal disease that infects the cleoptile, leaves, leafsheath, panicle branches.</p>
							<div class="w3layouts_more-buttn ser-buttn">
								<a href="https://en.wikipedia.org/wiki/Cochliobolus_miyabeanus" >Read More</a>
							</div>

						</div>
						<div class="col-md-4 white-left">
							<span class="fa fa-flask banner-icon" aria-hidden="true"></span>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6  col-sm-6 col-xs-6  its-banner-grid">
					<div class="white-shadow">

						<div class="col-md-8 white-right">
							<h4>LeafBlast</h4>
							<p>Blast is caused by the fungus Magnaporthe oryzae. It can affect all above ground parts</p>
							<div class="w3layouts_more-buttn ser-buttn">
								<a href="https://en.wikipedia.org/wiki/Magnaporthe_grisea#:~:text=Magnaporthe%20grisea%2C%20also%20known%20as,a%20serious%20disease%20affecting%20rice." >Read More</a>
							</div>

						</div>
						<div class="col-md-4 white-left">
							<span class="fa fa-pagelines banner-icon" aria-hidden="true"></span>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6  col-sm-6 col-xs-6  its-banner-grid">
					<div class="white-shadow">

						<div class=" col-md-8 white-right">
							<h4>Healthy</h4>
							<p>A healthy leaf is detected when there is no symptoms of aany of these above diseases.</p>
							<div class="w3layouts_more-buttn ser-buttn">
								<a href="#blog" >Read More</a>
							</div>

						</div>
						<div class="col-md-4 white-left">
							<span class="fa fa-leaf banner-icon" aria-hidden="true"></span>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<!--//Services-->

	<!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Husbandry</h4>
				</div>
				<div class="modal-body">
					<div class="out-info">
						<img src="assets/images/g1.jpg" alt="" />
						<p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
							eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellu</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->
	<!-- bolg -->
	<app-hispa *ngIf="hispa"></app-hispa>
	<app-brownspot *ngIf="brownSpot"></app-brownspot>
	<app-leafblast *ngIf="leafBlast"></app-leafblast>
	<app-disease *ngIf="start"></app-disease>
	<!-- //blog -->
	<!-- gallery-->
	<!-- <div id="gallery" class="gallery">
		<div class="container">
			<h3 class="title">Gallery</h3>
			<div class="gallery-info">
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids">
					<a href="assets/images/g1.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="src/images/g1.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids">
					<a href="assets/images/g2.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="src/images/g2.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids">
					<a href="assets/images/g3.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="assets/images/g3.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
					<a href="assets/images/g4.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="assets/images/g4.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids grid-mdl">
					<a href="assets/images/g5.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="assets/images/g5.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
					<a href="assets/images/g6.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="assets/images/g6.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
					<a href="assets/images/g7.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="assets/images/g7.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
					<a href="assets/images/g8.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/g8.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
					<a href="assets/images/g9.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="assets/images/g9.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
			</div>
		</div>
	</div> -->
	<!-- //gallery-->
	<!-- counter-->
	<div class="rate" id="rate">
		<div class="container">
			<h3 class="title clr">Our Project</h3>
			<div class="stats-info agileits w3layouts">
				<div class="col-md-3 col-sm-3 col-xs-6 agileits w3layouts stats-grid stats-grid-1">
					<div class="ser-icone"> <span class="fa fa-flask font" aria-hidden="true"></span>
					</div>
					<div class=" agileits-w3layouts counter">GoogleNet</div>
					<div class="stat-info-w3ls">
						<h4 class="agileits w3layouts">Model</h4>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 agileits w3layouts stats-grid stats-grid-2">
					<div class="ser-icone"> <span class="fa fa-file-archive-o font" aria-hidden="true"></span>
					</div>
					<div class=" agileits-w3layouts counter">3355</div>
					<div class="stat-info-w3ls">
						<h4 class="agileits w3layouts ">Dataset</h4>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 stats-grid agileits w3layouts stats-grid-3">
					<div class="ser-icone"> <span class="fa fa-leaf font" aria-hidden="true"></span>
					</div>
					<div class=" agileits-w3layouts counter">3</div>
					<div class="stat-info-w3ls">
						<h4 class="agileits w3layouts ">Diseases</h4>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6 stats-grid agileits w3layouts stats-grid-4">
					<div class="ser-icone"> <span class="fa fa-thumbs-up font" aria-hidden="true"></span>
					</div>
					<div class=" agileits-w3layouts counter">89%</div>
					<div class="stat-info-w3ls">
						<h4 class="agileits w3layouts">Accuracy</h4>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //counter-->
	<!-- team-->
	<!-- <div class="team agileits" id="team">
		<div class="team-info">
			<div class="container">
				<div class="team-row">
					<h3 class="title">Our Team</h3>
					<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
						<div class="team-agile-img">
							<a href="#"><img src="assets/images/t1.jpg" alt="img"></a>
							<div class="view-caption">
								<div class="w3ls-info">
									<h4>Smith</h4>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
						<div class="team-agile-img">
							<a href="#"><img src="assets/images/t2.jpg" alt="img"></a>
							<div class="view-caption">
								<div class="w3ls-info">
									<h4>Sophia </h4>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
						<div class="team-agile-img">
							<a href="#"><img src="assets/images/t3.jpg" alt="img"></a>
							<div class="view-caption">
								<div class="w3ls-info">
									<h4>Michael</h4>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
						<div class="team-agile-img">
							<a href="#"><img src="assets/images/t4.jpg" alt="img"></a>
							<div class="view-caption">
								<div class="w3ls-info">
									<h4>lara</h4>
								</div>
								<ul>
									<li><a href="#"><span class="fa fa-facebook"></span></a></li>
									<li><a href="#"><span class="fa fa-twitter"></span></a></li>
									<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- //team-->
	<!-- contact-->
	<!-- <div class="contact" id="contact">
		<div class="container">
			<h3 class="title clr">Contact</h3>
			<div class="contact-two-grids">
				<div class="col-md-8 contact-left-grid">
					<div class=" col-md-4 col-sm-5 contact-icons">
						<div class=" footer_grid_left">
							<div class="icon_grid_left">
								<span class="fa fa-map-marker" aria-hidden="true"></span>
							</div>
							<h5>Address</h5>
							<p>Unterberg 11,06108,<span>Halle,
					Germany</span></p>
						</div>
						<div class=" footer_grid_left">

							<div class="icon_grid_left">
								<span class="fa fa-volume-control-phone" aria-hidden="true"></span>
							</div>
							<h5> Contact Us</h5>
							<p>+(000) 123 4565 32 <span>+(010) 123 4565 35</span></p>
						</div>
						<div class=" footer_grid_left">
							<div class="icon_grid_left">

								<span class="fa fa-envelope" aria-hidden="true"></span>
							</div>
							<h5>Email Us</h5>
							<p><a href="mailto:info@example.com">info@example1.com</a>
								<span><a href="mailto:info@example.com">info@example2.com</a></span></p>
						</div>

					</div>
					<div class="col-md-8 col-sm-7 contact-us">
						<form action="#" method="post">
							<div class="styled-input">

								<input type="text" name="Name" placeholder="Name" required="">

							</div>
							<div class="styled-input">

								<input type="email" name="Email" placeholder="Email" required="">



							</div>
							<div class="styled-input">

								<input type="text" name="phone" placeholder="phone" required="">



							</div>
							<div class="styled-input">

								<textarea name="Message" placeholder="Message" required=""></textarea>



							</div>
							<div>
								<div class="click">
									<input type="submit" value="SEND">
								</div>
							</div>
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>

				<div class="col-md-4 map-grid">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6509687.090753893!2d-123.76387427440008!3d37.18697025540024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalifornia%2C+USA!5e0!3m2!1sen!2sin!4v1491201047627"></iframe>
				</div>
				<div class="clearfix"> </div>
			</div>
 -->
<!-- 
		</div>
	</div> -->
	<footer>
		<div class="container">
			<div class="col-md-7 col-sm-8 header-side">
				<p>© 2022 Major Project. All Rights Reserved</p>
			</div>
			<div class="col-md-5 col-sm-4 header-side">
				<div class="buttom-social-grids">

					<ul>
						<li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-rss"></span></a></li>
						<li><a href="#"><span class="fa fa-vk"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--//contact-->
	<!--js working-->
	<script src='js/jquery-2.2.3.min.js'></script>

	<!-- //js  working-->

	<!-- gallery -->
	<script src="js/lightbox-plus-jquery.min.js"></script>
	<!-- //gallery -->
	<script src="js/responsiveslides.min.js"></script>

	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 900,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!--// banner-->
	<!-- OnScroll-Number-Increase-JavaScript -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //OnScroll-Number-Increase-JavaScript -->
	<!-- start-smoth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<!-- for-bottom-to-top smooth scrolling -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //for-bottom-to-top smooth scrolling -->

	<!--bootstrap-->
	<script src="js/bootstrap.js"></script>
	<!--// bootstrap-->
</body>

</html>
