<div class="blog" id="blog">
    <div class="blog-two-grids">
        <h3 class="title">Disease</h3>
        <div class="blog-top-grids" style="background: #35a041">
            <div class="col-md-7 col-sm-7 blog-grid left-side">
                <h4>LeafBlast
                </h4>
                <p class="groom-right">Magnaporthe grisea, also known as rice blast fungus, rice rotten neck, rice seedling blight, blast of rice, oval leaf spot of graminea, pitting disease, ryegrass blast, Johnson spot, neck blast, and Imochi is a plant-pathogenic fungus and model organism that causes a serious disease affecting rice.
                </p>
                <!-- <div class="w3layouts_more-buttn right-buttn">
                    <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                </div> -->
            </div>
            <div class="col-md-5 col-sm-5 blog-gr">
            </div>
            <div class="clearfix"> </div>

            <div class="blog-top-grids low-grid">
                <div class="col-md-6 col-sm-5 blog-br">
                </div>
                <div class="col-md-3 col-sm-4 blog-three">
                    <div class="agri-matter">
                        <p style="text-align: left;"> Avoid noon hours for spraying.
                            Seed treatment at 2.0 g/kg seed with Captan or Carbendazim or Thiram or Tricyclazole.
                            Systemic fungicides such as pyroquilon and tricyclazole are possible chemicals for controlling the disease.
                        </p>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3  blog-fore">
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
</div>

