<div class="blog" id="blog">
    <div class="blog-two-grids">
        <h3 class="title">Disease</h3>
        <div class="blog-top-grids" style="background: #35a041">
            <div class="col-md-7 col-sm-7 blog-grid left-side">
                <h4>Healthy
                </h4>
                <p class="groom-right" style="text-align: justify;">Our model predicted your rice plant as healthy. However for better yield there are  three factors that could contribute to increased rice productivity are: (a) developing new rice varieties including hybrids with higher yield potential; (b) minimizing the yield gap between what is currently harvested by farmers and the achievable highest on-farm yield of varieties they grow; and (c) reducing the post-harvest losses and improving grain quality to enhance profitability. 
                </p>
                <!-- <div class="w3layouts_more-buttn right-buttn">
                    <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                </div> -->
            </div>
            <div class="col-md-5 col-sm-5 blog-gr">
            </div>
            <div class="clearfix"> </div>

            <div class="blog-top-grids low-grid">
                <div class="col-md-6 col-sm-5 blog-br">
                </div>
                <div class="col-md-3 col-sm-4 blog-three">
                    <div class="agri-matter">
                        <p style="text-align: left;"> For more information on increasing the productivity visit this site
                        </p>
                        <a href="https://www.fao.org/3/x6905e/x6905e0f.htm">CLICK HERE</a>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3  blog-fore">
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
</div>
