<div class="blog" id="blog">
    <div class="blog-two-grids">
        <h3 class="title">Disease</h3>
        <div class="blog-top-grids" style="background: #35a041">
            <div class="col-md-7 col-sm-7 blog-grid left-side">
                <h4>Hispa
                </h4>
                <p class="groom-right">Rice hispa is generally known to attack young rice plants, but in epidemic situations it invades mature plants as well. Heavy infestations in outbreak-prone areas starts in December on the local Boro and continues upto the following November on transplanted Aman crops. 
                </p>
                <!-- <div class="w3layouts_more-buttn right-buttn">
                    <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                </div> -->
            </div>
            <div class="col-md-5 col-sm-5 blog-gr">
            </div>
            <div class="clearfix"> </div>

            <div class="blog-top-grids low-grid">
                <div class="col-md-6 col-sm-5 blog-br">
                </div>
                <div class="col-md-3 col-sm-4 blog-three">
                    <div class="agri-matter">
                        <p style="text-align: left;"> Avoid over fertilizing the field.
                            Close plant spacing results in greater leaf densities that can tolerate higher hispa numbers.Leaf tip containing blotch mines should be destroyed.
                            Manual collection and killing of beetles – hand nets.
                        </p>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3  blog-fore">
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
</div>

