.blog-gr {
    background: url(src/assets/images/hs1.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 431px;
}
.blog-fore{
    background: url(src/assets/images/hs2.jpg) no-repeat 0px 0px;
	}
.blog-three{
    background: url(src/assets/images/hs4.jpg) no-repeat 0px 0px;
	}
	.blog-br{
    background: url(src/assets/images/hs3.jpg) no-repeat 0px 0px;
	}
 .blog-three,.blog-fore,.blog-br{   background-size: cover;
    min-height: 466px;
}