<div class="blog" id="blog">
    <div class="blog-two-grids">
        <h3 class="title">Disease</h3>
        <div class="blog-top-grids" style="background: #35a041">
            <div class="col-md-7 col-sm-7 blog-grid left-side">
                <h4>BrownSpot
                </h4>
                <p style="text-align: justify;">It is the major fungal diseases in rice in which it is caused by Bipolarisoryzae. This diseases mainly attacks the crop from seedling stage to milky stage. Brown spot is otherwise called as sesame leaf spot or Helminthosporiose. Brown spot causes both quality and quantity losses.There are several factors influencing the disease cycle and epidemics of brown spot of rice disease 1. Rainfall and drought 2. Temperature and humidity 3. Nutrition level
                <!-- <div class="w3layouts_more-buttn right-buttn">
                    <a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
                </div> -->
            </div>
            <div class="col-md-5 col-sm-5 blog-gr">
            </div>
            <div class="clearfix"> </div>

            <div class="blog-top-grids low-grid">
                <div class="col-md-6 col-sm-5 blog-br">
                </div>
                <div class="col-md-3 col-sm-4 blog-three">
                    <div class="agri-matter">
                        <p style="text-align: left;"> Use available resistant varieties such as MAC 18, avoid sowing, maintain control of weeds. To know more 
                        </p>
                        <a href="https://en.wikipedia.org/wiki/Cochliobolus_miyabeanus">CLICK HERE</a>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3  blog-fore">
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
</div>

